export(ability_implied_dividends)
export(ability_implied_state_prices)
export(abilities_from_probabilities_factor)
export(calibrate_abilities)
export(dividend_implied_ability)
export(dividends_from_prices)
export(hermite_nodes)
export(prices_from_dividends)
export(race_probabilities)
export(skew_normal_density)
export(solve_for_implied_offsets)
export(state_price_implied_ability)
export(state_prices_from_offsets)
export(win_probabilities_factor)
export(winner_of_many)
importFrom(stats, dnorm, pnorm)
